<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="userDTO" type="com.acorn.finalPrj.userDTO"/>
		
		
		<!-- <typeAlias alias="OrderDTO" type="com.acorn.finalPrj.User.OrderDTO"/>
		<typeAlias alias="ZzimDTO" type="com.acorn.finalPrj.Home.ZzimDTO"/> -->
		
	</typeAliases>
</configuration>